.new-reminder {
  width: 4rem;
  height: 4rem;
  margin: 1rem 1rem 1rem 0;

  border-radius: 100%;
  background: whitesmoke;
  transition: 300ms;
}

.new-reminder:active {
  background: #6f45c9;
}

.new-reminder > img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.75rem;
}

.new-reminder:active > img {
  filter: brightness(20);
}
