.Reminders {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto 0;
  padding: 3rem 1rem 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: #fff;
}

.Reminders .menu {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1.5rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: row-reverse;
  background: #fff;
  border-bottom-left-radius: 3rem;
}

.Reminders .menu img {
  cursor: pointer;
}

/* Small devices (landscape phones, 34em and up) */
@media (min-width: 34em) {
  .Reminders {
    margin: 0 auto;
    padding: 0 2rem 0;
  }
}

/* Medium devices (tablets, 48em and up) */
@media (min-width: 48em) {
  .Reminders {
    margin: 0 auto;
    padding: 0 3rem 0;
  }
}

/* Large devices (desktops, 62em and up) */
@media (min-width: 62em) {
  .Reminders {
    max-width: 72rem;
    margin: 0 auto;
    padding: 0 5rem 0;
  }
}

/* Extra large devices (large desktops, 75em and up) */
@media (min-width: 75em) {
  .Reminders {
    max-width: 72rem;
    margin: 0 auto;
    padding: 0 5rem 0;
  }
}
